<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%.-1level) %date{HH:mm:ss.SSS} [%30.30logger] %msg%n%rEx{full, org.springframework,
                sun.reflect, java.lang.reflect}
            </pattern>
        </encoder>
    </appender>

    <logger name="kinesis" level="DEBUG" />
    <logger name="localstack" level="INFO" />
    <logger name="software.amazon.kinesis" level="DEBUG" />
    <logger name="org.apache.camel.component.aws2" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
